{% extends 'base.html.twig' %}

{% block body %}

    <h2>Nouveau contact</h2>
    
    {{ form_start(formContact) }}

        {{ form_widget(formContact) }}

    {{ form_end(formContact) }}
    

{% endblock %}