{% extends 'base.html.twig' %}

    {% block body %}
    
            <section id="top" class="parallax-container"></section>
            
            <h2>Les engagements de Rénov'Passion</h2>
            
            <section id="engagements" class="white-text card-panel cyan darken-2">
                <p>Rénov'passion vous propose ses services de rénovation, <strong>décoration et embellissement de tout
                bien immobilier</strong>.</p>
                
                <p><strong>Je me déplace pour vous conseiller</strong> sur les travaux à envisager pour un <strong>rapport qualité/prix juste</strong>
                selon la somme investie et la valeur ajoutée.</p>
                
                <p><strong>Le propriétaire décide de l’investissement</strong> et des travaux à réaliser: avant toute décision, <strong>un devis
                vous sera soumis</strong> après visite de votre propriété.</p>
                
                <p>Passionné et engagé, je vous accompagnerai dans votre projet jusqu’à la vente ou mise en location.</p>
            </section> <!-- END OF SECTION engagements -->
            
            <h2>Nos services</h2>
            
            <section id="services" class="container col s12">
                <div class="row col s12">
                    <div class="card-panel cyan darken-3">
                        <span class="white-text">
                            <i class="fas fa-user-check col s4"></i>
                            <span id="liste" class="col s8">
                                <h4>Mes compétences:</h4>
                                <ul>
                                    <li>petit-oeuvre,</li>
                                    <li>peinture,</li>
                                    <li>électricité,</li>
                                    <li>plomberie,</li>
                                    <li>jardinerie</li>
                                    <li>...</li>
                                </ul> 
                            </span>
                        </span>
                    </div>
                </div>

                <div class="container row col s12">
                    <div class="col s3">
                        <div class="card-panel cyan darken-1">
                            <span class="white-text">
                                <i class="fas fa-paint-brush"></i> 
                                <p>Rafraîchir votre bien avant sa location</p>
                            </span>
                        </div>
                    </div>
    
                    <div class="col s3">
                        <div class="card-panel cyan darken-3">
                            <span class="white-text">
                                <i class="far fa-heart"></i>
                                <p>Déclencher un coup de coeur à la vente de votre bien</p>
                            </span>
                        </div>
                    </div>
    
                    <div class="col s3">
                        <div class="card-panel cyan darken-1">
                            <span class="white-text">
                                <i class="far fa-clock"></i>
                                <p>Accélérer la vente de votre bien depuis trop longtemps sur le marché et limiter la négociation</p>
                            </span>
                        </div>
                    </div>
                    
                    <div class="col s3">
                        <div class="card-panel cyan darken-3">
                            <span class="white-text">
                                <i class="fas fa-pencil-alt"></i>
                                <p>Obtenir des offres d’achat au juste prix de votre bien</p>
                            </span>
                        </div>
                    </div>
                </div>
            </section> <!-- END OF SECTION services -->

            <h2>Travaux finis</h2>
            
            <section id="travaux" class="container row">
                
                <div> <!-- DO NOT DELETE !! -->
                    <div id="contenant-card"> <!-- contenant card -->
                        <div class="card col s12 m4">
                            <div class="card-image">
                                <img src="http://placehold.it/350x350">
                                <span class="card-title">Rénovation salle de bain</span>
                            </div>
                            <div class="card-content">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                  sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                  magna aliquam erat volutpat.</p>
                                <hr />
                                <p>Durée des travaux: xx€</p>
                                <p>Coût total: xx€</p>
                            </div>
                        </div>
                    </div>
                    
                    <div id="contenant-card"> <!-- contenant card -->
                        <div class="card col s12 m4">
                            <div class="card-image">
                                <img src="http://placehold.it/350x350">
                                <span class="card-title">Modernisation d'une cuisine</span>
                            </div>
                            <div class="card-content">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                  sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                  magna aliquam erat volutpat.</p>
                                <hr />
                                <p>Durée des travaux: xx€</p>
                                <p>Coût total: xx€</p>
                            </div>
                        </div>
                    </div>
                    
                    <div id="contenant-card"> <!-- contenant card -->
                        <div class="card col s12 m4">
                            <div class="card-image">
                                <img src="http://placehold.it/350x350">
                                <span class="card-title">Aménagement d'une chambre</span>
                            </div>
                            <div class="card-content">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                  sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                  magna aliquam erat volutpat.</p>
                                <hr />
                                <p>Durée des travaux: xx€</p>
                                <p>Coût total: xx€</p>
                            </div>
                        </div>
                    </div>

                </div> <!-- DO NOT DELETE !! -->
            </section> <!-- END OF SECTION travaux -->


    {% endblock %}

