{% extends 'base.html.twig' %}

    {% block body %}
    
        <h1>Salut les loulous</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem facilis ad, animi. Dolorem ut, sed repellat. Facilis amet eius laboriosam dolorum rem optio consequatur nesciunt est unde, possimus tempore saepe impedit voluptate sint, repudiandae aut id itaque voluptas quidem temporibus! Quidem, odio ipsam quasi tempora harum consectetur minima quia fugiat?</p>
        <p>Sit id officia pariatur sed, magni quaerat explicabo dolorum accusamus delectus! Eius, quibusdam veniam asperiores officiis beatae minima ad sequi nemo et ipsam adipisci amet possimus, inventore enim tempore. Ullam ut placeat illo dolorum recusandae at! Magni voluptate, maxime libero at aliquam quam, iusto nemo accusantium ducimus minima delectus, tempora!</p>
   
    {% endblock %}

