{% extends 'base.html.twig' %}
    {% block stylesheets %}
        <link rel="stylesheet" href="../public/assets-public/mercistyle.css" type="text/css" />
    {% endblock %}


{% block body %}

    <article>
        <p><i class="fa fa-screwdriver"></i> <i class="fa fa-wrench"></i> <i class="fa fa-screwdriver"></i></p>
        <h2>Merci pour votre message,</h2>
        <h4>Nous y répondrons dans les meilleurs délais</h4>
    </article>

{% endblock %}